body{
    background-color:#1e1f2e;
    font-family: 'JetBrains Mono', monospace;
}
#main-main-headline{
    margin-top:21px;
    font-size:35px;
    color: #f6f6a0;
    text-align: center;
}
#tagline{
    font-size:21px;
    color: #97ceff;
    display: block;
    text-align:center;
    padding-left:21%;
    padding-right:21%;
}
#face{
    height: 210px;
    width: 210px;
    border-radius: 5600px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 7px;
}
#main-space{
    height: 200px;
}
#icons{
  font-size: 28px;
  color:#000000;
}
/* a:link {
    fill:#212529;
  }
  
  a:visited {
    fill:#212529;
  }
  
  a:hover {
    fill:#f69494;
  }
  
  a:active {
    fill:#212529;
  } */
  
  a:link, a:visited {
    text-decoration: none;
  }
table{
  table-layout: fixed;
  height: 10px;
  width: 40px;
}
#skills-main{
  font-size: 21px;
  color: #f6f6a0;
}
td{
  height: 40px;
  width: 40px;
}
.skill-img td{
  height: 40px;
  width: 40px;
}
.skill-data td{
  color: #a8e8b5;
  text-align: center;
}
.skill-data td{
  font-size:0px;
}


#contact{
  position: absolute;
  bottom: 10%;
  font-size: 150%;
  color: #f6f6a0;
}
#expand{
  color: #a8e8b5;
}
#con-cont{
  display:flex;
}
#con-cont div{
  padding: 2px;
}
#rustimg{
  /* background-color: #E01B24; */
  height:35px;
}