body{
    background-color:#1e1f2e;
    font-family: 'JetBrains Mono', monospace;
}
#main-main-headline{
    margin-top:20px;
    font-size:49px;
    color: #ffe6b1;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}
#tagline{
    font-family: 'JetBrains Mono', monospace;
    font-size:21px;
    color: #97ceff;
    display: block;
    text-align:center;
}
#face{
    height: 200px;
    width: 200px;
    border-radius: 5000px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 4px;
}
#main-space{
    height: 200px;
}
#icons{
  font-size: 28px;
  color:#000000;
}
/* a:link {
    fill:#212529;
  }
  
  a:visited {
    fill:#212529;
  }
  
  a:hover {
    fill:#f69494;
  }
  
  a:active {
    fill:#212529;
  } */
  
  a:link, a:visited {
    text-decoration: none;
  }
#skill-main{
  margin: 0,auto;
  display: flex;
}
.skill img{
  margin:0, auto;
  height: 40px;
  width: 40px;
  float: left;
}
.skill{
  background-color:#181825;
  padding-top: 10px;
  padding-left: 10px;
  margin:0, auto;
  height: 50px;
  width: 50px;
  font-size: 0px;
  &:hover{
    width:auto;
    margin: 0,auto;
    color: #a8e8b5;
    font-size:14px;
  }
}
.skill-title{
  color:#f6f6a0;
}
#contact{
  padding-top:20px;
  font-size: 21px;
  color: #f6f6a0;
}
#expand{
  color: #a8e8b5;
}
